button
  border: 0

button, .button
  +border-radius(40px)
  padding-left: 1rem
  padding-right: 1rem
  height: $button-height
  background: $purple
  font-weight: lighter
  color: $white

.button.alt
  background: white
  border: 1px solid $purple
  color: $purple

.handler
  +border-radius($button-height)
  display: block
  border: 1px solid $twitter-blue
  padding-left: 40px
  height: $button-height
  max-width: 250px
  background-image: url('../images/twitter.png')
  background-repeat: no-repeat
  background-size: 25px 25px
  background-position: $default-spacing center
  color: $twitter-blue
  line-height: $button-height
  text-decoration: none
