button
  border: 0

button, .button
  +border-radius(40px)
  padding-left: 1rem
  padding-right: 1rem
  height: $button-height
  min-width: $button-width
  background: $purple
  font-weight: lighter
  color: $white
  +transition-property(all)
  +transition-duration(.1s)
  +transition-timing-function(ease-in)
  &:hover
    +scale(1.1)
    font-weight: normal
    -webkit-animation: camuflage 1s linear
    -webkit-animation-fill-mode: forwards

.handler
  +border-radius($button-height)
  display: inline-block
  border: 1px solid $twitter-blue
  padding-left: 25px + $fixed-spacing * 1.5
  padding-right: $fixed-spacing
  height: $button-height
  //max-width: 200px
  background-image: url('../images/twitter.png')
  background-repeat: no-repeat
  background-size: 25px 25px
  background-position: $fixed-spacing center
  color: $twitter-blue
  line-height: $button-height
  text-decoration: none
