@each $type in $icon-types
  .subtitle.icon-#{$type}
    padding-left: 60px

.subtitle.dot:after
  +border-radius(50%)
  content: ''
  display: block
  position: absolute
  top: calc(50% - #{$dot-size} / 2)
  right: 0
  width: $dot-size
  height: $dot-size
  background: $oceanblue
