@each $type in $icon-types
  .icon-#{$type}
    min-height: $icon-size
    background: url('../images/#{$type}.png')
    background-repeat: no-repeat
    background-size: $icon-size
    background-position: left center
