.logo
  width: 242px
  height: $logo-height
  background: url('../images/logo.png')
  background-repeat: no-repeat

.gblogo
  height: $logo-sponsor-height
  background: url('../images/gblogo.png')
  background-repeat: no-repeat
  background-position: center center

.blip
  height: $logo-sponsor-height
  background: url('../images/blip.png')
  background-repeat: no-repeat
  background-position: center center