.logo
  width: 242px
  height: $logo-height
  background: url('../images/logo.png')
  background-repeat: no-repeat

.gblogo
  height: $logo-sponsor-height
  background: url('../images/gblogo.png')
  background-repeat: no-repeat
  background-position: center center

.blip
  height: $logo-sponsor-height
  background: url('../images/blip.png')
  background-repeat: no-repeat
  background-position: center center

.startup-braga
  height: $logo-sponsor-height
  background: url('../images/startup-braga.png')
  background-repeat: no-repeat
  background-position: center center

.ostais
  height: $logo-sponsor-height
  background: url('../images/ostais.png')
  background-repeat: no-repeat
  background-position: center center

.github
  height: $logo-sponsor-height
  background: url('../images/github.png')
  background-repeat: no-repeat
  background-position: center center

.codeschool
  height: $logo-sponsor-height
  background: url('../images/codeschool.png')
  background-repeat: no-repeat
  background-position: center center

.factory
  height: $logo-sponsor-height
  background: url('../images/factory.png')
  background-repeat: no-repeat
  background-position: center center

.liftoff
  height: $logo-sponsor-height
  background: url('../images/liftoff.png')
  background-repeat: no-repeat
  background-position: center center