// colors
$blue: #4395BB
$dark-oceanblue: #309298
$grey: #666666
$oceanblue: #7BD0D6
$orange: #F5C55F
$purple: #B491DB
$red: #E27966
$soft-blue: #F4F9FA
$twitter-blue: #8CCAF1
$white: white
$soft-grey: #EEEEEE

// space
$default-spacing: 1rem
$fixed-spacing: 18px
$gutter: $default-spacing * 4
$breakpoint-medium-width: 800px

// buttons
$button-height: 40px
$button-width: 150px

// semantic colors

$design-color: $red
$development-color: $orange
$product-color: $blue
$basic-color: $oceanblue

// images and icons
$logo-height: 76px
$logo-sponsor-height: 100px
$icon-size: 2.2rem
$icon-types: design $red, development $orange, product $blue, basic $oceanblue
$icon-authors: joao, roberto, zamith, ronaldo, alex, celso, diogo, joaoluis, beatriz, palhas, bruno, gabriel
$dot-size: 30px

// typography
$font-size-bigger: 3rem
$font-size-big: 1.8rem
$font-size-medium: 1.2rem
$font-family-default: 'futura-pt', 'sans-serif'
$font-family-secondary: 'pt-serif', 'Georgia'
