body
  margin: 0
  padding: 0
  width: 100%
  font-family: "futura-pt",sans-serif

header
  width: 100%

b
  font-weight: 600

p
  font-size: 1.2em
  font-weight: 400
  line-height: 1.8em
  text-align: left
  color: #04A5AF

h1,h2,h3
  color: $primary-color
  text-align: left

img
  max-width: 100%