@import url(http://fonts.googleapis.com/css?family=Merriweather);
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "futura-pt", sans-serif; }

header {
  width: 100%; }

b {
  font-weight: 600; }

p {
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
  text-align: left;
  color: #04a5af; }

h1, h2, h3 {
  color: #5b8d90;
  font-family: "Merriweather", serif;
  text-align: left; }

h1 {
  font-family: "PT Serif", serif; }

img {
  max-width: 100%; }

ul {
  padding-left: 20px;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  color: #04a5af; }

section {
  padding-top: 50px; }

.button {
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  display: block;
  margin-top: 20px;
  width: 240px;
  height: 50px;
  border-radius: 4px;
  background-color: #ff7d7d;
  color: white;
  font-size: 1.2em;
  text-decoration: none; }
  .button:hover {
    background-color: #fb5555; }

.top-color {
  height: 10px;
  width: 100%;
  background-color: #04a5af; }

.container {
  max-width: 1200px;
  margin: auto;
  height: 160px;
  background-color: white;
  width: 96%; }
  .container .big-block {
    width: 48%;
    float: left; }
    @media only screen and (max-width: 360px) {
      .container .big-block {
        width: 90%; } }
    @media only screen and (max-width: 360px) {
      .container .big-block img {
        margin: auto;
        width: 96%;
        float: none; } }
  .container .small-block {
    width: 22%;
    margin-left: 30%;
    float: left; }
    @media only screen and (max-width: 360px) {
      .container .small-block {
        display: none; } }
    .container .small-block h1 {
      font-size: 1.5em; }
    .container .small-block .link-map {
      color: #04a5af;
      display: inline-block;
      line-height: 100%;
      vertical-align: middle;
      text-decoration: none;
      line-height: 1.5em;
      padding-left: 30px;
      background: url("/images/map-icon.png") no-repeat; }
      .container .small-block .link-map:hover {
        color: #a7e7ea; }

.main .uvp {
  margin: 4% 0 0 2%; }
  @media only screen and (max-width: 360px) {
    .main .uvp {
      margin-left: 2%; } }
  .main .uvp h1 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1em;
    text-align: center; }
  .main .uvp h3 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
    text-align: center; }

.wrapper,
.week-1,
.week-2 {
  max-width: 1200px;
  margin: auto; }

.classes {
  clear: left;
  margin: 4% 2%;
  padding: 0;
  overflow: auto; }
  .classes .single-column {
    margin-right: 4%;
    width: 22%;
    float: left;
    vertical-align: top; }
    @media only screen and (max-width: 360px) {
      .classes .single-column {
        float: none;
        width: 96%;
        margin: auto; } }
    .classes .single-column:last-child {
      margin-right: 0; }
    .classes .single-column .big-icon {
      background-color: #d2e7e8;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin-top: 10px;
      text-align: center; }
      @media only screen and (max-width: 360px) {
        .classes .single-column .big-icon {
          margin: auto;
          margin-top: 50px; } }
      @media only screen and (min-width: 360px) and (max-width: 768px) {
        .classes .single-column .big-icon {
          margin: auto; } }
      .classes .single-column .big-icon img {
        padding-top: 20px; }
    .classes .single-column h1 {
      font-size: 1.3em;
      font-weight: 600;
      line-height: 1.2em;
      margin-top: 20px; }
    .classes .single-column p {
      margin-top: 10px; }

.main-info {
  overflow: auto;
  width: 100%;
  text-align: center;
  background-color: #62818d;
  padding-bottom: 4%; }
  .main-info .container {
    background-color: none;
    height: 100%; }
    .main-info .container h1 {
      font-size: 1.8em;
      font-weight: 600;
      line-height: 1.2em;
      color: white;
      padding-bottom: 10px;
      border-bottom: 1px solid #36d8b4; }
    .main-info .container h3 {
      font-size: 1.5em;
      font-weight: 600;
      line-height: 1em;
      color: white; }
    .main-info .container p {
      font-size: 1.3em;
      color: #d2e7e8; }
    .main-info .container .big-block {
      margin-left: 4%; }
      @media only screen and (max-width: 360px) {
        .main-info .container .big-block {
          margin-left: 0; } }
      .main-info .container .big-block:first-child {
        margin-left: 0; }
      .main-info .container .big-block .information {
        margin-top: -25px;
        margin-left: 4%;
        float: left; }
        @media only screen and (max-width: 360px) {
          .main-info .container .big-block .information {
            margin-left: 0; } }
        @media only screen and (min-width: 360px) and (max-width: 768px) {
          .main-info .container .big-block .information {
            margin-left: 0; } }
        .main-info .container .big-block .information .link-map {
          text-decoration: none;
          font-size: 1.3em;
          color: #d2e7e8; }
          .main-info .container .big-block .information .link-map:hover {
            color: #a7e7ea; }
      .main-info .container .big-block .map {
        width: 36%;
        height: 200px;
        display: block;
        background: url("/images/map.png") no-repeat center;
        background-size: cover;
        float: left;
        background-color: white; }
        @media only screen and (max-width: 360px) {
          .main-info .container .big-block .map {
            display: none; } }
        @media only screen and (min-width: 360px) and (max-width: 768px) {
          .main-info .container .big-block .map {
            display: none; } }

.three-columns {
  clear: left;
  margin: 4% 2%;
  padding: 0;
  overflow: auto; }
  .three-columns .single-column {
    margin-right: 4%;
    width: 30.5%;
    float: left;
    vertical-align: top; }
    @media only screen and (max-width: 360px) {
      .three-columns .single-column {
        float: none;
        width: 96%;
        margin: 0 0 0 2%; } }
    @media only screen and (min-width: 360px) and (max-width: 768px) {
      .three-columns .single-column {
        float: none;
        width: 90%;
        margin: 0 0 0 5%; } }
    .three-columns .single-column:last-child {
      margin-right: 0; }
    .three-columns .single-column h1 {
      font-size: 1.8em;
      font-weight: 600;
      line-height: 1.2em;
      margin-top: 20px; }
    .three-columns .single-column p {
      margin-top: 10px; }

.team {
  width: 100%;
  overflow: auto;
  padding: 0; }
  .team h1 {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.2em;
    border-bottom: 1px solid #36d8b4;
    padding-bottom: 10px; }
  .team h2 {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1em;
    padding-left: 10px; }
    @media only screen and (max-width: 360px) {
      .team h2 {
        text-align: center;
        padding-top: 10px; } }
    @media only screen and (min-width: 360px) and (max-width: 768px) {
      .team h2 {
        text-align: center;
        padding-top: 10px; } }
  .team .teacher {
    padding-bottom: 2%;
    background-color: white; }
    .team .teacher h2 {
      padding-left: 20px; }
    .team .teacher p {
      padding: 20px;
      font-size: 18px; }
      @media only screen and (min-width: 360px) and (max-width: 768px) {
        .team .teacher p {
          padding-left: 15%;
          width: 70%; } }
      @media only screen and (max-width: 360px) {
        .team .teacher p {
          padding-left: 25%;
          width: 50%; } }
  .team .image {
    text-align: center;
    width: 100%;
    height: 100%; }
  .team .twitter {
    color: #79d8de;
    padding: 10px;
    text-decoration: none;
    display: block; }
    .team .twitter:hover {
      color: #86f5fc; }
    @media only screen and (max-width: 360px) {
      .team .twitter {
        text-align: center; } }
    @media only screen and (min-width: 360px) and (max-width: 768px) {
      .team .twitter {
        text-align: center; } }
    .team .twitter img {
      margin-left: 2%;
      line-height: 100%;
      vertical-align: middle; }
    @media only screen and (max-width: 360px) {
      .team .twitter {
        margin-left: 25%; } }
    .team .twitter span {
      padding-left: 10px; }

.schedule {
  background-color: #d2e7e8;
  padding-top: 50px; }
  .schedule h1 {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.2em;
    border-bottom: 1px solid #36d8b4;
    padding-bottom: 10px; }
  .schedule .schedule-table {
    display: inline-block;
    vertical-align: top; }
    .schedule .schedule-table table {
      margin-bottom: 50px;
      width: 100%; }
      .schedule .schedule-table table th, .schedule .schedule-table table tr, .schedule .schedule-table table td {
        text-align: center;
        padding: 10px;
        color: white; }
      .schedule .schedule-table table th {
        color: #04a5af; }
      .schedule .schedule-table table td {
        width: 100px;
        height: 60px; }

.product {
  background-color: #2a9adf; }

.business {
  background-color: #36d8b4; }

.others {
  background-color: #ecbb68; }

.design {
  background-color: #57e0e8; }

.development {
  background-color: #62c0c6; }

.evaluation {
  background-color: #ff7d7d; }

.opening {
  background-color: #cccccc; }

.week-1, .week-2 {
  position: relative; }

.class-details-box {
  display: none; }

.class-details {
  width: 30%;
  margin-left: 8%;
  display: block;
  position: absolute;
  top: 119px;
  right: 0;
  padding: 10px 20px 10px 20px; }
  .class-details h1, .class-details h2, .class-details p {
    border: 0px;
    margin: 0px;
    padding-top: 10px;
    color: white; }
  .class-details p {
    font-weight: 200;
    line-height: 20px;
    font-size: 18px;
    padding-bottom: 10px; }
  .class-details ul {
    color: white;
    padding-left: 40px; }

.footer {
  background-color: #04a5af;
  height: 100%;
  padding-top: 1%; }
  .footer .single-column a {
    margin: 0 auto; }
  .footer .single-column .contact {
    background-color: #36d8b4; }
    .footer .single-column .contact:hover {
      background-color: #38e3bd; }
  .footer .single-column .social {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #79d8de;
    padding-top: 10px; }
    .footer .single-column .social:hover {
      color: #86f5fc; }
  .footer p {
    color: white; }
  .footer .cta {
    margin: auto; }
    .footer .cta h2 {
      color: white;
      text-align: center; }
    .footer .cta .button {
      margin: auto; }
